
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5.9% 97.1%; /* #F6F6F6 */
    --foreground: 0 0% 0%; /* #000000 */

    --card: 240 5.9% 97.1%; /* #F6F6F6 */
    --card-foreground: 0 0% 0%; /* #000000 */

    --popover: 240 5.9% 97.1%; /* #F6F6F6 */
    --popover-foreground: 0 0% 0%; /* #000000 */

    --primary: 162 34% 74%; /* #A2D5C6 */
    --primary-foreground: 0 0% 0%; /* #000000 */

    --secondary: 151 100% 90.8%; /* #CFFFE2 */
    --secondary-foreground: 0 0% 0%; /* #000000 */

    --muted: 151 100% 90.8%; /* #CFFFE2 */
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 162 34% 74%; /* #A2D5C6 */
    --accent-foreground: 0 0% 0%; /* #000000 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 162 34% 80%;
    --input: 162 34% 85%;
    --ring: 162 34% 74%; /* #A2D5C6 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 240 5.9% 97.1%; /* #F6F6F6 */

    --card: 0 0% 10%;
    --card-foreground: 240 5.9% 97.1%; /* #F6F6F6 */

    --popover: 0 0% 0%; /* #000000 */
    --popover-foreground: 240 5.9% 97.1%; /* #F6F6F6 */

    --primary: 162 34% 74%; /* #A2D5C6 */
    --primary-foreground: 0 0% 0%; /* #000000 */

    --secondary: 162 34% 20%;
    --secondary-foreground: 240 5.9% 97.1%; /* #F6F6F6 */

    --muted: 162 34% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 162 34% 74%; /* #A2D5C6 */
    --accent-foreground: 0 0% 0%; /* #000000 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 162 34% 30%;
    --input: 162 34% 30%;
    --ring: 162 34% 74%; /* #A2D5C6 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
